<div id="modalAddItem" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add a Task to this Project</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputdefault">Task Name</label>
                    <input type="text" class="form-control" id="ProjectDetailName" name="ProjectDetailName" placeholder="Name this task">
                </div>

                <div class="form-group">
                    <label for="inputdefault">Task Description</label>
                    <textarea id="ProjectDetailDescription" name="ProjectDetailDescription" class="form-control" rows="5" placeholder="Describe this task"></textarea>
                </div>

                <div class="form-group">
                    <label for="inputdefault">Quantity</label>
                    <input id="Quantity" name="Quantity" class="form-control" rows="5" placeholder="Describe this task" >
                </div>

                <div class="form-group">
                    <label for="inputdefault">Unit of Measure</label>
                    <input id="UnitOfMeasure" name="UnitOfMeasure" class="form-control" rows="5" placeholder="Describe this task">
                </div>

                <div class="form-group">
                    <label for="inputdefault">Time to Complete (in hours)</label>
                    <input type="text" class="form-control" id="HoursToComplete" name="HoursToComplete" placeholder="How long will this task take?">
                </div>

                <div class="form-group">
                    <label for="inputdefault">Review Instructions</label>
                    <textarea id="ReviewInstructions" name="ReviewInstructions" class="form-control" rows="5" placeholder="Provide instructions on how to review this task"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnAddToProject">Add to Project</button>
            </div>
        </div>
    </div>
</div>