<div id="modalStartTheProject" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Start the Project</h4>
            </div>
            <div class="modal-body">
                <p>
                    Congratulations! You are ready to start on this project. Remember, dhanges are not allowed
                    until you say the project is complete.
                </p>
                <p>Good luck!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnStartProject">Start</button>
            </div>
        </div>
    </div>
</div>