@model List<Rated2.Models.Project.ProjectViewModel>
@using Rated.Core.Shared

<h2>Projects</h2>

<button class="btn btn-primary" id="btnOpenModalStartProject">+ Start a Project</button>


@Html.Partial("_ModalAddProject")


<script src="~/Scripts/Rated/project.js"></script>



















