@model List<Rated2.Models.Project.ProjectViewModel>

<br />

@foreach (var project in Model)
{ 
    <div>
        <p>@project.ProjectName</p>
        <p>@project.CreatedDate</p>
        <p>@project.ProjectDescription</p>
        <hr />
    </div>
}