@model List<Rated.Models.Project.ProjectViewModel>
@using Rated.Core.Shared

<style>
    .custom-class {
        width: 70%; /* either % (e.g. 60%) or px (400px) */
    }

}
</style>

<h2>Projects</h2>

<button class="btn btn-primary" id="btnOpenModalStartProject">
    <span class="glyphicon glyphicon-plus-sign"></span>
    &nbsp;&nbsp;
    Start a Project
</button>


@Html.Partial("_ModalAddProject")
@Html.Partial("_ModalAddCompany")

<script src="~/Scripts/Rated/project.js"></script>
<script src="~/Scripts/Rated/company.js"></script>
<script src="~/Scripts/Rated/modal.js"></script>



















