@model Rated.Models.UserProfileViewModel

@{
    ViewBag.Title = "Home Page";
}

<div style="padding-top:5px">
    <span style="font-size:25px;">@Html.ValueFor(x => x.Profile.FullName)</span>

    <button class="btn btn-link" onclick="window.location = 'UserProfile/EditAccount'">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
</div>



Rating: @Model.Profile.Score
<br />
@Model.Profile.Bio
