@model Rated2.Models.UserProfileViewModel

@{
    ViewBag.Title = "Home Page";
}

<div style="padding-top:20px">
    <span style="font-size:25px;">@Html.ValueFor(x => x.Profile.FullName)</span>

    <button class="btn btn-link" onclick="window.location = 'UserProfile/EditAccount'">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
</div>



@Html.LabelFor(x => x.Profile.Score):
@Html.ValueFor(x => x.Profile.Score)
<br />

@Html.ValueFor(x => x.Profile.Bio) 
