




<div style="padding:10px; background-color:#e9e9e9">

    <table cellpadding="5" cellspacing="5">
        <tr>
            <td width="9px" style="background-color:darkorange">&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div style="font-weight:bold; font-size:17px; padding:0px;">
                    Task No. 1
                </div>

                <span style="font-weight:bold; font-size:19px">Define Application Architecture</span>

                <br />

                <span style="font-weight:bold; font-size:15px">3/1/2015 - 6/15/2015</span>

                

                <br />

                <span style="color:gray">
                    <i>
                        AmerisourceBurgen Technology Group or ABTG is a supplier of medicine dispensing
                        equipment used by small to large hospitals. AmerisourceBurgen Technology Group. AmerisourceBurgen Technology Group or ABTG is a supplier of medicine dispensing
                        equipment used by small to large hospitals.
                    </i>
                </span>

                <br />

                <a id="toggleRatings">View Ratings (1)</a>
            </td>
        </tr>
    </table>

    @Html.Partial("_Review")

    <br />

    @Html.Partial("_Review")
    
</div>