@model List<Rated.Models.UserProfile.ProfileViewModel>

<h3>
    Search
</h3>

@using (Html.BeginForm("Index", "SearchPeople", FormMethod.Post))
{
    <div class="editor-field">
        <label>First Name</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" />
    </div>

    <div class="editor-field">
        <label>Last Name</label>
        <input type="text" id="LastName" name="LastName" class="form-control" />
    </div>

    <br />

    <input type="submit" value="Search" class="btn btn-default" />
}


<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>

    @foreach (var profile in Model)
    {
        <tr>
            <td>
                <button class="btn btn-link" onclick="javascript:(window.location = 'SearchPeople/ProfileView?userId=@profile.UserId')">@profile.FirstName @profile.LastName</button>
            </td>
            <td>@profile.Email</td>
        </tr>
    }
</table>